body>div
{
	margin: 2vh 10vw;
	background-color: #dcdbda;
	padding: 2em;
	border-radius: 0.5em;	
}

html
{
	background-color: #1C1C1C;
}

a
{
	display: block;
	/*color: #DF7401;*/
	color: white;
	text-decoration: none;
}

a:hover
{
	color: #8A4B08;
}

ul
{
	list-style: none;
}

section
{
	font-size: 16pt;
}

section>section
{
	display: none;
}

#livre section:target
{
	margin: 10% 2%;
	padding: 2em;
	border-radius: 0.2em;
	background-color: rgb(30,150,30);
	display: block;
}

#first a
{
	color: #DF7401;
}